    body {
        font-family: Open Sans;
        font-size: large;
    }
    
    h1 {
        text-align: center;
    }
    
    p {
        font-family: open Sans;
        text-align: center;
        size: 100cm;
    }
    
    h2 {
        font-family: open Sans;
        text-align: center;
        color: black;
    }
    
    .button {
        text-align: center;
    }
    
    .btn {
        border: 1px solid black;
        padding: 10px 30px;
        color: black;
        text-decoration: none;
        transition: 0.6s ease;
    }
    
    .btn:hover {
        background-color: rgba(51, 159, 202, 0.26);
        color: #000;
    }